/* Variables stylesheet */

/* Colors */
$background: #f7f7f9;
$border: rgba(0,0,0,.125);
$black: #000;
$blue: #2A97C1;
$red: red;
$green: green;
$darkBlue: #304559;
$gray: #5d5c5c;
$white: #fff;

/* Font Sizes */
$text-huge: 40px;
$text-large: 32px;
$text-medium: 24px;
$text-small: 16px;
